.list-item {
    border: 1px solid darken($color: $white, $amount: 10%);
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    margin-bottom: $s-size;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
};

.list-item__sub-title {
    color: $grey;
    font-size: $small-font-size;
    span {
        color: $blue;
    }
}

.list-item__data {
    margin: 0;
    color: $grey;
    display: flex;
    justify-content: space-between;
    p {
        margin: 0;
        font-style: italic;
        font-size: $s-size;
        font-weight: 500;
    }
};

.list-item__message {
    align-items: center;
    color: $grey;
    display: flex;
    font-style: italic;
    font-size: $large-font-size;
    justify-content: center;
    padding: $m-size;
}