// colors
$dark-grey: #333;
$light-grey: #CFCBCA;
$grey: #666;
$red: #e63946;
$off-white: #f7f7f7;
$white: #f1faee;
$light-blue: #a8dadc;
$blue: #457b9d;
$dark-blue: #1d3557;

//Font sizes
$large-font-size: 1.8rem;
$small-font-size: 1.4rem;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desk-breakpoint: 45rem;